/**
 * Stylesheet to Startup Tab inside of /dashaboard/ folder
 *
 *
 *
 * @author Akhil Kokani
 * @package SET
 */

.no-startup-wrap svg {
  display: block;
  margin: auto;
  fill: #c4c4c4;
}

.no-startup-content {
  text-align: center;
  margin-bottom: 2em;
}

.no-startup-title-wrap h2 {
  color: #525252;
  font-family: sans-serif;
  margin: 0;
}

.no-startup-para-wrap {
  margin-top: 1.1em;
  margin-bottom: 2.2em;
}

.no-startup-para-wrap span {
  color: #636363;
  font-size: 1.4em;
  font-family: sans-serif;
}

.no-startup-action-wrap button {
  box-shadow: 0px 2px 1px #adadad;
  background: #195fd4;
  font-family: sans-serif;
  transition: box-shadow .25s ease-in-out;
}

.no-startup-action-wrap button:hover {
  box-shadow: 0px 0px 1px #adadad;
}
/** No Startup END */


.not-enough-visits-wrap {
  margin-bottom: 3em;
}

.not-enough-visits-wrap svg {
  display: block;
  margin: auto;
  fill: #c4c4c4;
}

.not-enough-visits-content {
  text-align: center;
  margin-bottom: 2em;
}

.not-enough-visits-title-wrap h2 {
  color: #525252;
  font-family: sans-serif;
  margin: 0;
}

.not-enough-visits-para-wrap {
  margin-top: 1.1em;
  margin-bottom: 2.2em;
}

.not-enough-visits-para-wrap span {
  color: #636363;
  font-size: 1.4em;
  font-family: sans-serif;
}
/** Not Enough Visits */


.list-startup-modal {
  max-width: 750px;
}

.modal-title {
  margin-bottom: 1em;
}

.modal-title h2 {
  font-family: sans-serif;
  margin-bottom: 0;
}

.modal-close {
  height: 32px;
  cursor: pointer;
  fill: #acacac;
  transition: background 0.25s ease-in, fill 0.25s ease-in;
}

.modal-close:hover {
  background: #fff0f0;
  fill: rgb(218, 16, 16);
}

.modal-sub-title {
  font-family: sans-serif;
  color: #585858;
  margin: 0 0 1em 0;
}

.modal-sub-title h3 {
  margin: 0;
  font-family: sans-serif;
}

.gen-info-left-side,
.gen-info-right-side {
  flex: 1;
}

.gen-info-left-side {
  margin-right: 5px;
}

.gen-info-right-side {
  margin-left: 5px;
}

.phase-text-input-wrap {
  margin-bottom: 2em;
}

.phase-text-input-wrap * {
  font-family: sans-serif !important;
}

.phase-text-input-wrap label {
  color: #717171;
}

.phase-text-input-wrap input, select {
  margin-top: 3px;
}

.gen-info-profile-pic-actions-wrap .change-pic {
  margin: 9px auto;
}

.gen-info-profile-pic-actions-wrap .change-pic > a {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 11px;
}

.next-prev-phase-action-wrap {
  margin-top: 2em;
}

.previous-phase-action-wrap,
.next-phase-action-wrap {
  margin: auto;
}

.next-phase-action-wrap button.prix-primary {
  background: #5a5a5a;
  transition: background .25s ease;
}
.next-phase-action-wrap button.prix-primary:hover {
  background: #414141;
}
/** List My Startup Modal END */


.job-applications-wrap .application {
  padding: 1em;
  border-bottom: 1px solid #d1d1d1;
}

.job-applications-wrap .application:last-child {
  border-bottom: none;
}

.job-applications-wrap .application:nth-child(even) {
  background: #f9f9f9;
}

.job-applications-wrap .applicator-actions-wrap a {
  font-family: sans-serif;
  font-size: 11px;
  margin-right: 5px;
}
/** Job Applications END */


.team-details-wrap .team-member,
.investor-details-wrap .investor {
  margin-right: 2.2em;
}

.team-details-wrap .team-member .name-wrap,
.investor-details-wrap .investor .name-wrap {
  margin-top: 5px;
}

.team-details-wrap .team-member .name-wrap > span,
.investor-details-wrap .investor .name-wrap > span {
  margin: 5px auto;
  font-size: 12px;
  color: #636363;
  text-align: center;
  display: block;
}
/** Team Member and Investor Details END */


#edit_profile_floor {
  transition: height .50s ease-in;
  overflow: scroll;
}

#edit_profile_floor * {
  font-family: sans-serif;
}

#edit_profile_floor .edit-profile-pic-wrap {
  width: 331.42px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  margin-bottom: 1em;
}

#edit_profile_floor .change_startup_profile_picture {
  font-size: 12px;
  color: #717171;
}

.edit-group-title-wrap {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 1.5em;
}

.edit-group-title {
  padding: 1em 0;
}

.edit-group-body {
  padding-right: 2em;
}

.edit-group-title h3 {
  color: #6f6f6f;
  margin: 0;
}

.group-action-input {
  margin-bottom: 1.2em;
}

.group-action-input label {
  display: block;
  font-size: 11px;
  color: #545454;
}

.group-action-input input {
  margin-top: 4px;
}
/** Edit Profile Floor END */