/**
 * Stylesheet for All Pages.
 * This file has to be included in all pages except data includer files.
 *
 *
 * @author Akhil Kokani
 * @package SET
 */

.system-notification-wrap {
  display: none;
  position: fixed;
  z-index: 2147483647;
  top: 43px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.system-notification {
  cursor: default;
  color: #4a4a4a;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.8;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #d2d2d2;
  background-color: #ffffff;
  border-radius: 3px;
}

.system-notification.danger {
  color: #a40e00;
  border: 1px solid #ff5d5d;
}
/** System Notification END */


.notification-system-wrap {
  display: none;
  width: calc(100% - 349px);
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.notification-system {
  height: 100%;
  width: 0px;
  border-left: 1px solid #e4e4e4;
  background-color: #ffffff;
  margin-bottom: 1em;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: -1px;
  z-index: 2;
  transition: width .75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.notification-system-expand {
  width: 350px;
}

.notification-system * {
  font-family: sans-serif;
}

.notification-system-title-wrap {
  padding: 3em;
}

.notification-system h2 {
  margin: 0;
}

.no-notifications {
  padding: 1.5em 2.5em;
  font-family: sans-serif;
  text-align: center;
  color: #7d7d7d;
  fill: #b7b7b7;
}

.notification {
  padding: 1.5em 2.5em;
  transition: background-color .25s linear;
}
.notification:hover {
  background-color: #f7f7f7;
}

.notification a {
  font-size: 12.5px;
}
.notification a:hover {
  text-decoration: none;
}

.notification-title p {
  cursor: default;
  margin-top: 0;
  margin-bottom: 8px;
}

.notification-description p {
  cursor: default;
  margin: 0px;
  font-size: 13px;
  color: #7d7d7d;
  line-height: 1.6;
}

.notification-actions-wrap {
  margin-top: 1.2em;
}

.notification-action {
  margin-right: 1.2em;
}

.notification-action .secondary {
  color: #8e8e8e;
}
/** Notification System END */